<div class="text-white text-center mt-14 mb-8">
  <h1 class="text-4xl font-bold">Dev Joke😂</h1>
  <p class="text-xl mt-4 max-w-screen-sm mx-auto">
    By the community, for the community!
  </p>
</div>
<div class="text-white m-4 text-center">
  <div class="rounded-lg bg-blue-700 m-2 max-w-screen-sm mx-auto p-5">
    <p class="text-xl mb-1">
     What does this do?
    </p>
    <p>A fun app to collect and share Dev jokes with Dev community.</p>
  </div>
  <div class="rounded-lg bg-blue-700 m-2 max-w-screen-sm mx-auto p-5">
    <p class="text-xl mb-1">
     Who uses this App?
    </p>
    <p>Dev community.</p>
  </div>
  <div class="rounded-lg bg-blue-700 m-2 max-w-screen-sm mx-auto p-5">
    <p class="text-xl mb-1">
     Can I contrinute Dev Jokes?
    </p>
    <p>You are very welcome. Submit <a routerLink="/submit-dev-joke" class="underline">here</a>.</p>
  </div>
  <div class="rounded-lg bg-blue-700 m-2 max-w-screen-sm mx-auto p-5">
    <p class="text-xl mb-1">
     Can I submit PR for this App?
    </p>
    <p>Ofcourse. If you find any issues, let me know on <a class="underline" href="https://twitter.com/messages/compose?recipient_id=146783695" target="_blank">Twitter</a>. Please submit PR if you can.</p>
  </div>
</div>
